.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.agents/**
.claude/**
.github/**
AGENTS.md
CLAUDE.md
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
